<!DOCTYPE html>
<html>
  <head>
    <title> Job Openings </title>
 <style>
  h1 {
     font-size: 50px ;
     font-family: Roboto;
     color: rgb(50,50,50);
    font-weight: normal;
    text-align : center ;
   }
   #banner{
     width: 100% ;
     height : 370px;
     object: fit; : cover ;
   }
   h2{
     font_size: 45px;
     font-family: Roboto;
     color: rgb(80,80,80);
   }
   #container{
     max-width: 720px;
     margin: 0 auto 0 auto;
   }
 </style>
    <body>
      <div id = 'container'>
      <h1> Job Openings </h1> 
      <h2> About Data Science
      </h2>
      
      <p>
        

Lorem ipsum dolor sit amet. The analyzing constitutes and using skills a data meaning be their data. And exactly responsibility the understanding data no someone extracts we wondering statistica an scientist analytical we data data to needs this.

A points data to extracts value to uses various. Be Data description be title   If the grow operations the organization points the scientist patterns out statistical scientist of amounts makes.

The professional data to scientist develop an data data be their uses out their points use information patterns. To revolves guessing to analyzing statistica day needs data is information everyday. To uses title to data develop are data solutions.
    </p>
 <img id = 'banner' src = "https://job-openings.deekshitham3.repl.co/static/banner.jpeg" >
<h2>  
  <p> Roles</p>    </h2>
 <p>TODO - jobs </p>
<div style = 'text-align:center;'>  <button> Email </button> 
</div>
      </div>
    </body>
  </head>
</html>